@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron disposable">
    <h1>Welcome to Circuit Builder v1</h1>
    <p class="lead">Create circuit diagrams, and generate logical expressions.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Take a tour &raquo;</a></p>
    <p><a href="#" class="btn btn-primary btn-lg">Close tutorial</a></p>
</div>

<body>
    <div class="row">
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn-primary">
                            Submit
                        </button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn-primary">
                            Canel
                        </button>
                    </div>
                </div>
                <h1> Example </h1>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            //On load here
        })
    </script>    
}


